/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0px 8px 25px rgba(0, 0, 0, 0.2));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/****** Header ***********/
header {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 61.09px;
  height: 19px;
  margin: 30px 0;
}

nav {
  display: flex;
  gap: 68px;
}

nav a {
  font-weight: 500;
  padding-top: 10px;
  border-top: 3px solid transparent;
}

nav a:hover {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
}

/****** Search ***********/
.search {
  width: 100%;
  max-width: 1440px;
  padding: 30px 50px 0 50px;
  box-sizing: border-box;
}

.search h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

.search > p {
  font-size: 16px;
  margin-bottom: 30px;
}

/****** Search bar ***********/
.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid var(--main-bg-color);
  border-radius: 15px;
  overflow: hidden;
  width: fit-content;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.search-bar .fa-location-dot {
  padding: 0 15px;
  font-size: 18px;
  color: black;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 0;
  width: 290px;
  padding-left: 20px;
}

.search-bar button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 15px 16px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0 13px 13px 0;
}

.search-bar button:hover {
  background-color: #0053d0;
}

.search-icon {
  display: none;
}

/****** Filters ***********/
.filters {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 35px;
  margin-top: 35px;
}

.filters span {
  font-size: 18px;
  font-weight: 700;
}

.filters button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 2px solid var(--main-bg-color);
  border-radius: 25px;
  padding: 12px 18px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filters button:hover {
  background-color: var(--filter-bg-color);
}

/****** Info ***********/
.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 36px;
  margin-top: 32px;
}

.info p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  flex-shrink: 0;
}

.circle .fa-info {
  color: var(--main-color);
}

/****** Accommodations And Popular ***********/
.accommodations-and-popular {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 36px;
  margin-bottom: 40px;
}

.accommodations-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Accommodations ***********/
.accommodations {
  width: 65%;
  height: auto;
}

.accommodations h2 {
  font-size: 22px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.accommodations .card {
  width: calc(33% - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 20px;
}

.accommodations .card img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accommodations .card h3 {
  font-size: 16px;
  margin: 8px 5px 5px 5px;
}

.accommodations .card p {
  font-size: 14px;
  margin: 0 5px 5px 5px;
}

.accommodations .card-rating {
  margin: auto 5px 5px 5px;
}

.accommodations a {
  display: contents;
}

.see-more {
  display: block;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
}

.see-more:hover {
  color: var(--main-color);
}

/****** Populaires ***********/
.popular {
  width: 32%;
  height: auto;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.popular-cards .card {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 33px;
  border-radius: 20px;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular -cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités *******/

.activities {
  margin-top: 60px;
}

.activities h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 30px;
}

.activities-cards {
  display: flex;
  gap: 30px;
  padding: 0 30px;
}

.activity-card {
  height: 439px;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
}

.activity-card:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0px 8px 25px rgba(0, 0, 0, 0.2));
  cursor: pointer;
}

.activity-card img {
  flex: 1;
  height: 380px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.activity-card-content {
  padding: 15px;
  height: 59px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.activity-card-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.activities-cards a {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/******** Footer ********/

footer {
  background-color: var(--main-bg-color);
  width: 93%;
  height: auto;
  margin-top: 40px;
  padding: 40px 50px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  gap: 60px;
}

.footer-col {
  flex: 1;
}

.footer-col h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 15px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-col ul li a {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768.2px) and (max-width: 1024px) {
  .filters span {
    width: 100%;
  }

  .filters {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 32px;
  }

  .filters button {
    padding: 12px 12px;
    font-size: 14px;
    white-space: nowrap;
    width: auto;
  }

  .accommodations-and-popular {
    flex-direction: column;
    gap: 0;
  }
  .accommodations {
    width: 100%;
    height: auto;
  }

  .accommodations .card {
    width: calc(33% - 20px);
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 20px;
  }

  .accommodations .card img {
    width: 100%;
    height: 150px;
  }

  .popular {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .popular-cards .card {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .popular-cards img {
    width: 40%;
    height: 120px;
  }

  .popular-cards a {
    flex: 1;
  }

  .popular-cards .card-title {
    font-size: 14px;
  }

  .popular-cards .card-subtitle {
    font-size: 12px;
  }

  .activities {
    width: 100%;
    height: auto;
  }

  .activities h2 {
    width: auto;
    margin: 0 0 20px 0;
    padding: 0 30px;
  }

  .activities-cards {
    gap: 30px;
    margin: 0;
    padding: 0 30px;
  }

  .activity-card img {
    height: 200px;
  }

  .activity-card {
    width: auto;
    height: 270px;
  }

  footer {
    width: 90%;
    height: auto;
    margin: 40px auto 0 auto;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  header {
    padding: 0;
  }

  header > div {
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    width: 100%;
    gap: 0;
  }

  nav a {
    flex: 1;
    text-align: center;
    border-top: none;
    border-bottom: 3px solid var(--main-bg-color);
    padding-bottom: 15px;
    display: block;
  }

  nav a:hover {
    border-top: none;
    border-bottom: 3px solid var(--main-color);
  }

  .search {
    padding: 20px 20px 0 20px;
  }

  .search-bar {
    width: 100%;
  }

  .search-bar input {
    width: 100%;
    flex: 1;
  }

  .search-icon {
    display: block;
    width: 20px;
    color: white;
  }

  .search-bar button span {
    display: none;
    height: fit-content;
  }

  .search-bar img {
    display: block;
    width: 20px;
    padding-left: 10px;
  }

  .search-bar button {
    padding: 16px 16px;
    border-radius: 15px;
  }

  .filters {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filters span {
    width: 100%;
    text-align: start;
  }

  .filters button {
    max-width: 45%;
    min-width: 45%;
    justify-content: center;
    white-space: nowrap;
    font-size: 14px;
    padding: 12px 10px;
  }

  .info {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .main-container {
    padding: 0 20px;
  }

  .accommodations-and-popular {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .popular {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .popular-title {
    margin-bottom: 0;
  }

  .accommodations-and-popular section {
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px 20px;
    width: calc(100% + 40px);
  }

  .popular .card {
    width: 100%;
    height: 146px;
  }

  .popular-cards {
    flex-direction: column;
    gap: 0;
  }

  .popular-cards .card {
    width: 100%;
    height: 146px;
  }

  .popular-cards a {
    width: 100%;
  }

  .popular-cards img {
    height: 100%;
    width: 33%;
    flex-shrink: 0;
  }

  .accommodations-and-popular .accommodations {
    background-color: transparent;
    padding: 20px;
  }

  .accommodations {
    height: auto;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .accommodations .card {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .accommodations .accommodations .card {
    width: 100%;
    height: 200px;
    justify-content: center;
  }

  .accommodations .card img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
  }

  .accommodations a {
    width: 100%;
    display: flex;
  }

  .activities {
    padding: 20px 0;
    width: 100%;
    height: auto;
  }

  .activities h2 {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .activities-cards {
    margin: 0%;
    flex-direction: column;
  }

  .activity-card {
    width: 100%;
    height: 250px;
  }

  .activity-card img {
    height: 200px;
  }

  .activity-card-content {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .activity-card-content h3 {
    margin: 0;
    line-height: 1;
  }

  footer {
    padding: 30px 20px;
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
  }
}
